.DS_Store
.zsh_history
.config/zsh/.zcompdump*
*.bak
mysql_history
qBittorrent

.config/bundle/
.config/cargo/
.config/composer/
.config/docker/
.config/gem/
.config/go/
.config/pylint/
.config/rustup/
.config/sanity/
.config/nvim/bundle
.config/nvim/plugged
.config/nvim/runtime
.config/nvim/spell
.config/configstore
.config/broot
.config/nvm
.config/gh/hosts.yml
.config/iterm2
.config/zsh/.zsh_sessions
.config/aerc/accounts.conf
.config/valet
.config/calcurse
.config/task
.config/yarn
.config/aws
