<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>DDAD722E-E6E5-4AC1-AD7D-B318811893FC</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>kagi</string>
			<key>text</key>
			<string>Search Kagi for '{query}'</string>
			<key>url</key>
			<string>https://kagi.com/search?q={query}</string>
		</dict>
	</dict>
	<key>onlyShowEnabledInPrefs</key>
	<true/>
</dict>
</plist>
